
01_Sequencial/target/*
02_Decisao/target/*
03_EstruturaDeRepeticao/target/*
04_Listas/target/*
05_Funcoes/target/*
06_Strings/target/*
08_structs/target/*
07_Arquivos/01_validar_Ips/target/*
07_Arquivos/02_Relatorio/target/*
modulo.rs
